body{
    padding: 0px;
    margin: 0px;
    background-color: #222629;
    color: #FFFFFF;
}
a{
    color: inherit;
    text-decoration: none;
}
#header{
    background-color: #61892F;
    color: white;
    font-size: 20px;
    text-align: center;
}

.navbar ul{
    text-decoration: none;
    background-color: #86C232;
}
.navbar ul li{
    display: inline-block;
}
.navbar ul li a{
    padding: 10px 10px;
}
.foot{
    padding: 10px 10px 10px 10px;
    width: 25%;
    background-color: #86C232;
}
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:30%;   /* Height of the footer */
}
#footm{
    display: flex;
}