*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #5CDB95;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #EDF5E1;
}
.profile{
    height: 200px;
    width: 200px;
    border-radius:50%;
    border:5px solid #000000;
    background-color: #00AC9F;
  }
.link{
    text-align: center;
    width: 50%;
    margin: auto;
    border: #05386B 5px solid;
}
.link:hover{
    background: #05386B;
    color: #FFFFFF;
}
footer{
    background-color: #05386B;
    color: #EDF5E1;
}
footer p{
    margin: 0px;
}