body{
	padding: 0px;
	margin: 0px;
}
.navigation{
	overflow: auto;
}
.navigation a{
	display: inline-flex;
	padding: 10px 5px 10px 5px;
	height: auto;
	margin: 5px;
}
.navigation a:hover{
	color: #FFFFFF;
	background-color: #00AC9F;
}

.thefoot span{
	display: inline-block;
	width: 30%;
}
.board{
	height: 500px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	color: #2E6DB4;
}
