body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bgm);
}

:root{
    --primary:#05386B;
    --secondary:#379683;
    --bgm:#5CDB95;
    --bga:#8EE4AF;
    --accent:#EDF5E1;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--accent);
}
.tab{
    padding: 10px;
    background-color: var(--primary);
    border-radius: 25px;
    color: var(--accent);
}
.tab:hover{
    background-color: var(--accent);
    color: var(--primary);
}
.link{
    padding: 20px;
}