body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bgm);
}

:root{
    --primary:#05386B;
    --secondary:#379683;
    --bgm:#5CDB95;
    --bga:#8EE4AF;
    --accent:#EDF5E1;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--accent);
}
.profile{
    height: 200px;
    width: 200px;
    border-radius:50%;
    border:5px solid #000000;
    background-color: #00AC9F;
  }
.tab{
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 25px;
    color: var(--accent);
}
.tab:hover{
    background-color: var(--bga);
    color: #000000;
}
.link{
    padding: 20px;
}
footer{
    background-color: var(--primary);
    color: var(--accent);
}
footer p{
    margin: 0px;
}