body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #515356;
}
a{
    text-decoration: none;
    color: inherit;
}
.tab{
    padding: 10px;
    background-color: #fcc222;
    border-radius: 25px;
}
div{
    padding: 20px;
}