@import url('https://fonts.googleapis.com/css?family=Roboto');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
/*Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Press Start 2P*/
body{
  margin: 0px;
  padding: 0px;
  background-color: #303030;
  color: #ffffff;
}
.logo{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: inherit;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  background-color: #000000;
  color: #ffffff;
}
header ul{
  list-style: none;
}
header ul li{
  display: inline-block;
}
header ul li a{
  padding: 10px 10px;
}
#topContent div{
  display: inline-block;
  width: 40%;
}
.pageTitle{
  background-color: #00AC9F;
  color:#000000;
  padding: 10px 5px;
  margin: 0px;
  text-align: center;
}
.sub{
  text-align: center;
}
.hireme{
  background-color: #2E6DB4;
}