@import url('https://fonts.googleapis.com/css?family=Roboto');
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
/*Orbitron*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Press Start 2P*/
 #main{
	font-family: 'Press Start 2P';
	margin: 0px;
	padding: 0px;
	font-size: 2vw;
	background-color: #F0F0F0F0;
}
